# Ignore everything
*

# But not these files/folders
!_Portfolio/index.html
!_Portfolio/_media/
!_Portfolio/README.md
!_Portfolio/website_generator.py
!_Portfolio/projects/

# Don't include any git metadata or unnecessary system files
!.git/
!.gitignore
